params {
  // Required
  counts = "${baseDir}/tutorial/counts"
  library = "${baseDir}/tutorial/library.tsv"
  info = "${baseDir}/tutorial/sample_info.tsv"

  // Input parameters
  info_label_column_index = 2
  info_group_column_index = 6

  // Executable parameters
  rscript_exec = "Rscript"

  // Filtering
  filter_counts = true
  filter_type = 'control'
  filter_method = 'all'
  min_reads = 30
}
