params {
    // Generic
    outdir = '${ANALYSIS_DIR}/results'
    reportDir = "${ANALYSIS_DIR}/results/reports"

    // Sample metadata
    info = "${ANALYSIS_DIR}/baggen_low_stringency_manifest.tsv"
    info_filename_column_index = 8
    info_label_column_index = 6
    info_plasmid_column_index = 9
    info_control_column_index = 10
    info_treatment_column_index = 11
    info_group_column_index = 12
    info_reads_column_index = 13

    // Library
    library = "${ANALYSIS_DIR}/Brunello_library_Baggen_SupplTable3.reformatted.csar.tsv"
    library_id_column_index = 2
    library_gene_column_index = 4

    // Counts
    counts="${ANALYSIS_DIR}/counts"
    count_id_column_index = 2
    count_gene_column_index = 4
    count_count_column_index = 6
    counts_header = false
    count_skip = 3

    // Executable parameters
    rscript_exec = "Rscript"

    // Filtering
    filter_counts = true
    filter_type = 'all'
    filter_method = 'all'
    min_reads = 30

    // Duplicate Filtering
    no_duplicate_removal = false

    // Normalisation
    normalisation_method = 'crisprcleanr'
    no_normalisation = false

    // CRISPRcleanR
    no_crisprcleanr = true

    // Log fold changes
    lfc_method = 'crisprcleanr'

    // Scaling
    scale_log_fold_changes = true
    scale_bayes_factors = true

    // Analysis
    no_analysis = false
    no_mageck = false
    no_bagel = false

    // Gene lists
    essential_genes = "${ANALYSIS_DIR}/essential_genes.txt"
    nonessential_genes = "${ANALYSIS_DIR}/non_essential_genes.txt"
}
